@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.img-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.product-content {
	
}

.product-name {
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 30px;
}

.product-params {
	font-size: 24px;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
.product-count {
	font-size: 24px;
	font-weight: 700;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
    background-color: #999;
    display: inline-block;
    margin: 0 5px;
    padding: 10px 15px;
    color: #ffffff;
}
.product-delivery {
	font-size: 24px;
	font-weight: 700;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
    background-color: #999;
    display: inline-block;
    margin: 0 5px;
    padding: 10px 5px;
    color: #ffffff;
}

.product-price {
	font-size: 24px;
	font-weight: 700;
	color: #55ac38;
}
.form-block {
	display: block;
	margin-bottom: 20px;
}
label {
	cursor: pointer;
}

.cols {
	width: 50%;
	float: left;
}

.colorItem {
    -webkit-border-radius: 50%;
	        border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #999;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.colorBlue {
	background-color: #2a6dde;
}

.colorDarkBlue {
	background-color: #3172b2;
}
.colorRed {
	background-color: #ff605c;
}
.colorWhite {
	background-color: #dedee0;
}
.colorGray {
	background-color: #8b8593;
}
.colorGreen {
	background-color: #b6d230;
}
